<%- include('./partials/_header'); %> 

<div class="container">
    <div class="row mt-4">
        <div class="col-md">
            <table class="table table-bordered table-hover">
                <thead>
                    <th>ID Respuesta</th>
                    <th>Respuesta</th>
                    <th>Encuestado</th>
                </thead>
                <tbody>
                    <% if(data) { %>
                        <% for (var i=0; i< data.length ; ++i) {%>
                            <tr>
                                <td><%= data[i].id_respuesta %> </td>
                                <td><%= data[i].texto %> </td>
                                <td><%= data[i].correo %> </td>
                            </tr>
                        <% } %>
                    <% } %> 
                </tbody>
            </table>
        </div>
        <br>
    </div>
</div>

<%- include('./partials/_footer'); %> 